.DS_Store
Group Project/IV1350-group-44-Seminar-1.log
Group Project/IV1350-group-44-Seminar-1.fdb_latexmk
Group Project/IV1350-group-44-Seminar-1.synctex.gz
Group Project/_minted-IV1350-group-44-Seminar-1/.pygstyle
Group Project/_minted-IV1350-group-44-Seminar-1/47C269D55CBCDEBA627538AD9CA4F9AA00BE20D217BC5254B11654BE8BF74C73.pygtex
Group Project/_minted-IV1350-group-44-Seminar-1/manni.pygstyle
Group Project/_minted-IV1350-group-44-Seminar-1/monokai.pygstyle
Group Project/IV1350-group-44-Seminar-1.aux
Group Project/IV1350-group-44-Seminar-1.fdb_latexmk
Group Project/IV1350-group-44-Seminar-1.fls
Group Project/IV1350-group-44-Seminar-1.log
Group Project/IV1350-group-44-Seminar-1.out
Group Project/IV1350-group-44-Seminar-1.synctex.gz
Group Project/IV1350-group-44-Seminar-1.tex
Group Project/IV1350-group-44-Seminar-1.synctex.gz
Group Project/svg-inkscape/LogPhyModel_image_svg-tex.pdf_tex
Group Project/university_db_dump.sql.bak
