.DS_Store
Group Project/IV1350-group-44-Seminar-1.log
Group Project/IV1350-group-44-Seminar-1.fdb_latexmk
Group Project/IV1350-group-44-Seminar-1.fdb_latexmk
Group Project/IV1350-group-44-Seminar-1.synctex.gz
